In [113]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score,accuracy_score

In [115]:
data = pd.read_csv("data.csv")

In [117]:
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [119]:
data.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [121]:
data.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.600000e+03,4600.000000,4600.000000,4600.000000,4.600000e+03,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,5.519630e+05,3.400870,2.160815,2139.346957,1.485252e+04,1.512065,0.007174,0.240652,3.451739,1827.265435,312.081522,1970.786304,808.608261
std,5.638347e+05,0.908848,0.783781,963.206916,3.588444e+04,0.538288,0.084404,0.778405,0.677230,862.168977,464.137228,29.731848,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.228750e+05,3.000000,1.750000,1460.000000,5.000750e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.609435e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.549625e+05,4.000000,2.500000,2620.000000,1.100125e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

In [123]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

In [125]:
encoded_df = pd.get_dummies(data, columns=["city"])

In [127]:
encoded_df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,city_SeaTac,city_Seattle,city_Shoreline,city_Skykomish,city_Snoqualmie,city_Snoqualmie Pass,city_Tukwila,city_Vashon,city_Woodinville,city_Yarrow Point
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,...,False,False,True,False,False,False,False,False,False,False
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,...,False,True,False,False,False,False,False,False,False,False
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,...,False,False,False,False,False,False,False,False,False,False
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,...,False,False,False,False,False,False,False,False,False,False
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,...,False,True,False,False,False,False,False,False,False,False
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,...,False,False,False,False,False,False,False,False,False,False
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,...,False,False,False,False,False,False,False,False,False,False
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,...,False,True,False,False,False,False,False,False,False,False
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,...,False,False,False,False,False,False,False,False,False,False

In [129]:
encoded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 61 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      4600 non-null   object
 1   price                     4600 non-null   float64
 2   bedrooms                  4600 non-null   float64
 3   bathrooms                 4600 non-null   float64
 4   sqft_living               4600 non-null   int64
 5   sqft_lot                  4600 non-null   int64
 6   floors                    4600 non-null   float64
 7   waterfront                4600 non-null   int64
 8   view                      4600 non-null   int64
 9   condition                 4600 non-null   int64
 10  sqft_above                4600 non-null   int64
 11  sqft_basement             4600 non-null   int64
 12  yr_built                  4600 non-null   int64
 13  yr_renovated              4600 non-null   int64
 14  street                    4600 non-null   object
 15  statezip                  4600 non-null   object
 16  country                   4600 non-null   object
 17  city_Algona               4600 non-null   bool
 18  city_Auburn               4600 non-null   bool
 19  city_Beaux Arts Village   4600 non-null   bool
 20  city_Bellevue             4600 non-null   bool
 21  city_Black Diamond        4600 non-null   bool
 22  city_Bothell              4600 non-null   bool
 23  city_Burien               4600 non-null   bool
 24  city_Carnation            4600 non-null   bool
 25  city_Clyde Hill           4600 non-null   bool
 26  city_Covington            4600 non-null   bool
 27  city_Des Moines           4600 non-null   bool
 28  city_Duvall               4600 non-null   bool
 29  city_Enumclaw             4600 non-null   bool
 30  city_Fall City            4600 non-null   bool
 31  city_Federal Way          4600 non-null   bool
 32  city_Inglewood-Finn Hill  4600 non-null   bool
 33  city_Issaquah             4600 non-null   bool
 34  city_Kenmore              4600 non-null   bool
 35  city_Kent                 4600 non-null   bool
 36  city_Kirkland             4600 non-null   bool
 37  city_Lake Forest Park     4600 non-null   bool
 38  city_Maple Valley         4600 non-null   bool
 39  city_Medina               4600 non-null   bool
 40  city_Mercer Island        4600 non-null   bool
 41  city_Milton               4600 non-null   bool
 42  city_Newcastle            4600 non-null   bool
 43  city_Normandy Park        4600 non-null   bool
 44  city_North Bend           4600 non-null   bool
 45  city_Pacific              4600 non-null   bool
 46  city_Preston              4600 non-null   bool
 47  city_Ravensdale           4600 non-null   bool
 48  city_Redmond              4600 non-null   bool
 49  city_Renton               4600 non-null   bool
 50  city_Sammamish            4600 non-null   bool
 51  city_SeaTac               4600 non-null   bool
 52  city_Seattle              4600 non-null   bool
 53  city_Shoreline            4600 non-null   bool
 54  city_Skykomish            4600 non-null   bool
 55  city_Snoqualmie           4600 non-null   bool
 56  city_Snoqualmie Pass      4600 non-null   bool
 57  city_Tukwila              4600 non-null   bool
 58  city_Vashon               4600 non-null   bool
 59  city_Woodinville          4600 non-null   bool
 60  city_Yarrow Point         4600 non-null   bool
dtypes: bool(44), float64(4), int64(9), object(4)
memory usage: 808.7+ KB

In [131]:
X = encoded_df.drop(['date','price','sqft_lot','yr_built','yr_renovated','street','statezip','country'],axis=True)

In [133]:
X

,bedrooms,bathrooms,sqft_living,floors,waterfront,view,condition,sqft_above,sqft_basement,city_Algona,...,city_SeaTac,city_Seattle,city_Shoreline,city_Skykomish,city_Snoqualmie,city_Snoqualmie Pass,city_Tukwila,city_Vashon,city_Woodinville,city_Yarrow Point
0,3.0,1.50,1340,1.5,0,0,3,1340,0,False,...,False,False,True,False,False,False,False,False,False,False
1,5.0,2.50,3650,2.0,0,4,5,3370,280,False,...,False,True,False,False,False,False,False,False,False,False
2,3.0,2.00,1930,1.0,0,0,4,1930,0,False,...,False,False,False,False,False,False,False,False,False,False
3,3.0,2.25,2000,1.0,0,0,4,1000,1000,False,...,False,False,False,False,False,False,False,False,False,False
4,4.0,2.50,1940,1.0,0,0,4,1140,800,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,3.0,1.75,1510,1.0,0,0,4,1510,0,False,...,False,True,False,False,False,False,False,False,False,False
4596,3.0,2.50,1460,2.0,0,0,3,1460,0,False,...,False,False,False,False,False,False,False,False,False,False
4597,3.0,2.50,3010,2.0,0,0,3,3010,0,False,...,False,False,False,False,False,False,False,False,False,False
4598,4.0,2.00,2090,1.0,0,0,3,1070,1020,False,...,False,True,False,False,False,False,False,False,False,False
4599,3.0,2.50,1490,2.0,0,0,4,1490,0,False,...,False,False,False,False,False,False,False,False,False,False

In [135]:
y=encoded_df['price']

In [137]:
y

0       3.130000e+05
1       2.384000e+06
2       3.420000e+05
3       4.200000e+05
4       5.500000e+05
            ...
4595    3.081667e+05
4596    5.343333e+05
4597    4.169042e+05
4598    2.034000e+05
4599    2.206000e+05
Name: price, Length: 4600, dtype: float64

In [139]:
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.2,random_state = 42)

In [141]:
model = LinearRegression()

In [143]:
model.fit(X_train,Y_train)

LinearRegression()

In [166]:
from sklearn.feature_selection import RFE
rfe = RFE(estimator=model, n_features_to_select=10)
fit = rfe.fit(X, y)

print("Selected Features:", X.columns[fit.support_])
print("Feature Ranking:", fit.ranking_)

Selected Features: Index(['bathrooms', 'waterfront', 'city_Beaux Arts Village', 'city_Bellevue',
       'city_Clyde Hill', 'city_Medina', 'city_Mercer Island', 'city_Redmond',
       'city_Seattle', 'city_Yarrow Point'],
      dtype='object')
Feature Ranking: [38  1 42 37  1 19 36 43 44  8 12  1  1 28 30 20 39  1 13 16 24 18  3 10
 34 41 31 33  2 26 11  1  1 21  4 32 23  9 40  7  1 22  5 15  1 35 14 29
 27 25 17  6  1]

In [145]:
y_pred = model.predict(X_test)

In [152]:
print("Mean Squared Error:", mean_squared_error(Y_test, y_pred))
print("Mean Squared Error:", mean_absolute_error(Y_test, y_pred))
print("Mean Squared Error:", r2_score(Y_test, y_pred))

Mean Squared Error: 4.097969007460943e+16
Mean Squared Error: 6847455.299918891
Mean Squared Error: -40181.22006965814